<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Приветствие</title>
</head>
<body>

<p th:text="'hello, ' + ${name} + '!'"></p>

</body>
</html>